/* usa este fichero para personalizar tus vistas */

.card-gasto{
    width: 30rem;
}

#group_group{
    width: 50rem; 
    margin-top:3rem;
}

.button-add-expense{
    float: right; 
    margin: 0rem 70rem; 
    width: 7rem; 
    height: 4rem;
}

.card-title{
    float: left;
}

.prize-expense{
    text-align: right;
}

.prize-expense-group{
    text-align: right;
    color:#20c997;
}