/* usa este fichero para personalizar tus vistas */

#group_card{
    width: 30rem;
}

#group_group{
    width: 50rem; 
    margin-top:3rem;
}

#button_add_expense{
    float: right; 
    margin: 0rem 70rem; 
    width: 7rem; 
    height: 4rem;
}