/* usa este fichero para personalizar tus vistas */

.card-gasto{
    width: 30rem;
    text-align: center;
}

.group_group{
    text-align: center; 
    margin-top:3rem;
}

.back_balance_pos{
    background-color:#F5A300
}

.back_balance_neg{
    background-color:#AF7302
}

hr{
    margin-left: 3rem;
    width: 90%;
}

#debts{
   margin-left: 3rem 
}
.button-add-expense{
    float: center; 
    width: 7rem; 
    height: 4rem;
}

.card-title{
    float: left;
}

#description{
    margin-left: 4rem;
}

.button_config{
    width: 3.5rem; 
    height: 3rem;
    display: inline-block;
    text-align: center;
    margin-left: 1rem;
}

.prize-expense{
    text-align: right;
}

.prize-expense-group{
    text-align: right;
    color:#20c997;
}