#home_groups .card {
    max-width: 20rem;
    max-height: 10rem;
}

.colscroll{
    overflow-y: scroll;
}

.height{
    height: 7vh;
}

.rounded-corners {
    height: 4vh;
    border-radius: 8px;
    padding-top:2px;
}

.numPersons{
    margin-left: 4px;
    float : right;
}