<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>

    <th:block th:replace="fragments/head :: header" />
    <title>Monzone</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<main class="flex-shrink-0">
    <header th:replace="fragments/nav.html :: nav"></header>
    
    <div class="row align-items-center" style="height: 30rem;">   
        <div class="col-sm-4 col-md-4">
            <div class="card text-white bg-warning mx-auto" style="width: 20rem; height: 10rem" role="button" onClick="click_handler()" tabindex="0">
                <div class="card-header">GASTOS CASA 📈</div>
                <div class="card-body">
                  <h5 class="card-title">Grupo para los gastos del piso</h5>
                  <p class="card-text">Descripción.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="card text-white bg-warning  mx-auto" style="width: 20rem; height: 10rem"  role="button" onClick="click_handler()" tabindex="0">
                <div class="card-header">GASTOS CASA RURAL 📉</div>
                <div class="card-body">
                  <h5 class="card-title">Grupo para los gastos de la casa rural</h5>
                  <p class="card-text">Descripción.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="card text-white bg-warning mx-auto" style="width: 20rem; height: 10rem"  role="button" onClick="click_handler()" tabindex="0">
                <div class="card-header">GASTOS FINDE 📉</div>
                <div class="card-body">
                  <h5 class="card-title">Grupo para los gastos del finde</h5>
                  <p class="card-text">Descripción.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-1">
            <button class="btn-lg btn-warning"><i class="fa fa-plus"></i></button></h3>
        </div>
    </div>

</main>

<th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>