<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>

    <th:block th:replace="fragments/head :: header" />
    <title>Monzone - Expense</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/expense.css}" href="css/expense.css" type="text/css" />
</head>

<body>
    <header th:replace="fragments/nav.html :: nav"></header>

    <div class="container">
        <div class="general-box d-flex justify-content-center">
          <div class="col-box col-5">
            <h1>Edit Expense</h1>
            <div>
              <label for="name" class="form-label mt-4 w-100" >Name</label>
              <input id="name" type="text" class="input-box mb-4 w-100" required="required">
              <label for="desc" class="form-label w-100">Description (optional)</label>
              <textarea id="desc" class="input-box form-control" rows="5"></textarea>
              <label for="date" class="form-label mt-4 w-100">Date</label>
              <input type="date" id="date" class="input-box w-100" required="required">
              <label for="amount" class="form-label mt-4 w-100">Amount (€)</label>
              <input id="amount" type="text" class="input-box mb-4 w-100" required="required">
            </div>              
          </div>
          <div id="middle-col" class="col-box col-5 bg-secondary">
              paidby, type, forwhom
          </div>
          <div class="col-box col-5 bg-warning">
              picture, ok
          </div>
        </div>
    </div>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>