<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="fragments/head :: header" />
    <script src="/js/expense.js"></script>
    <title>Monzone - Group</title>
</head>

<body class="d-flex flex-column h-100"> 
    <header th:replace="fragments/nav.html :: nav"></header>

    <div class="container">
        <div class="panel panel-default">
          <div class="panel-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="braind" class="col-sm-5 control-label">Marca</label>
                <div class="col-sm-4">
                  <select name="braind" id="braind" class="form-control" >
                    <option value="carmel">Carmel</option>
                    <option value="pcfk">Pcfk</option>
                    <option value="loguin">Loguin</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="campaign" class="col-sm-5 control-label">Campaña</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" value="texto de dentro" id="campaign" readonly>
                </div>
              </div>
              <div class="form-group">
                <label for="edition" class="col-sm-5 control-label">Edicion</label>
                <div class="col-sm-4">
                  <select name="edition" id="edition" class="form-control" >
                    <option value="1">Piloto</option>
                    <option value="2">Otras zonas</option>
                  </select>
                </div>
              </div>
              
            
              

            </form>

            <div>
                <button onclick="editar();"> Editar</button>
                <button onclick="bloquear();"> bloquear</button>
            
            </div>
          </div>
        </div>

</body>

</html>