<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>

    <th:block th:replace="fragments/head :: header" />
    <title>Monzone</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/group.css}" href="css/group.css" type="text/css" />
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="container my-auto">
        <!-- Title -->
        <!-- TODO: title no es responsive en pantallas muy pequeñas... y creo que no está centrado -->
        <div class="row">
            <div class="col align-self-center text-center">
                <h3><strong>GASTOS PISO</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col align-self-center text-center">
                <h7 id="description">Grupo para los gastos del piso</h7>
                <button class="btn button_config btn-outline-warning" type="button" th:onclick="|location.href='/group/${groupId}/config'|"><i class="fa fa-cog fa-2x"></i></button>
            </div>
        </div>

        <!-- Body -->
        <div class="body">
            <!-- Tabs -->
            <div class="row">
                <div class="col align-self-center text-center">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                aria-selected="true">Expenses</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                                aria-selected="false">Balance</button>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Contenido Tabs -->
            <div class="tab-content" id="pills-tabContent">
                <!-- Expenses -->
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <!-- CARTAS GASTOS -->
                    <div class="row row-cols-1 row-cols-lg-2">
                        <!-- Dynamic expenses with Thymeleaf  -->
                        <tr th:each="expense: ${expenses}">
                            <div class="col">
                                <div class="card border-light text-white bg-warning mb-3 mx-auto" role="button" th:onclick="|location.href='/group/${groupId}/${expense.getId()}'|">
                                    <div class="row row-cols-2 row-cols-md-4 g-0">
                                        <!-- Icon -->
                                        <div class="col text-center">
                                            <img th:src="@{/img/type/{icon}(icon=${expense.getType().getIcon()})}" src="/img/type/food.png" alt="Category Icon" width="auto" height="50">
                                        </div>
                                        <!-- Text Info -->
                                        <div class="col">
                                            <div class="row card-text-row">
                                                <div class="card-title">[[${expense.getName()}]]</div>
                                            </div>
                                            <div class="row card-text-row">
                                                <div class="card-subtitle">[[${expense.getDesc()}]]</div>
                                            </div>
                                        </div>
                                        <!-- Date -->
                                        <div class="col d-flex align-items-center justify-content-center">
                                            <div class="card-text">[[${expense.getDate()}]]</div>
                                        </div>
                                        <!-- Amount -->
                                        <div class="col d-flex align-items-center justify-content-center expense-amount">
                                            <div class="card-text">[[${expense.getAmount()}]]</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                        <!-- No hay gastos -->
                        <div th:unless="${!expenses.isEmpty()}"
                            class="card border-light text-white bg-warning mb-3 mx-auto">
                            <div class="card-header"><strong>There are no expenses in this group!</strong></div>
                        </div>
                    </div>
                    <!-- newExpenseBtn -->
                    <div class="row text-center">
                        <div class="col align-self-center">
                            <button class="btn button-add-expense btn-outline-warning" type="button">ADD
                                EXPENSE</button>
                        </div>
                    </div>
                </div>

                <!-- Balance -->
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <h5>Ana</h5>
                            <h5 class="back_balance_neg">-17.32€</h5>
                            <h5>Pablo</h5>
                            <h5 class="back_balance_neg">-6.33€</h5>
                        </div>
                        <div class="col-md-6 text-center">
                            <h5 class="back_balance_pos">+23.47€</h5>
                            <h5>Marta</h5>
                            <h5>0.00€</h5>
                            <h5>Marcos</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <hr>
                            <h5 id="debts">DEBTS</h5>
                            <hr>
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-warning">
                                    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                    Marta owes Ana 17.32€
                                </li>
                                <li class="list-group-item list-group-item-warning">
                                    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                    Pablo owes Marta 2.53€
                                </li>
                                <li class="list-group-item list-group-item-warning">
                                    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                    Marcos owes Ana 6.33€
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>