<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Monzone</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="container my-4">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col">
                <div class="row">
                    <h1>Group Settings</h1>
                </div>
                <div class="row">
                    Name
                </div>
                <div class="row">
                    Description
                </div>
                <div class="row">
                    Currency
                </div>
                <div class="row">
                    Group Budget
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <h3>Members</h3>
                </div>
                <div>
                    <!-- Dynamic member list with Thymeleaf -->
                    <div th:each="member : ${members}">
                        <div class="row pb-2">
                            <form th:if="${group.isGroupAdmin(session.u)}" method="post" th:action="@{/group/{groupId}/config(groupId=${group.getId()})}" class="col">
                                <input type="hidden" name="removeId" th:value="${member.getUser().getId()}">
                                <button type="submit" class="btn"><img th:src="@{/img/delete.png}" src="/img/delete.png"></button>
                            </form>
                            <div class="col d-flex align-items-center">
                                [[${member.getUser().getName()}]]
                            </div>
                            <div class="col d-flex align-items-center">
                                [[${member.getBudget()}]]
                            </div>
                            <div class="col d-flex align-items-center">
                                [[${member.getBalance()}]]
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>