<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Monzone - Group</title>
    <link rel="stylesheet" th:href="@{/css/group.css}" href="css/group.css" type="text/css" />
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>
        <!--CARTAS GRUPO-->
        <div id= "group_group" class="card border-light text-white bg-warning mb-3 mx-auto" role="button"
            onClick="location.href='/group/1/1'" tabindex="0">
            <div class="card-header"><strong>GASTOS PISO</strong></div>
            <div class="card-body">
                <h7 id="card_title" class="card-title">Grupo para los gastos del piso</h7>
                <h4 id="prize_expense_group">+20,70€</h4>
            </div>
        </div>
        <!--CARTAS GASTOS-->
        <div id="group_card" class="card border-light text-white bg-warning mb-3 mx-auto" role="button"
            onClick="location.href='/group/1/1'" tabindex="0">
            <div class="card-header"><strong>GAS</strong></div>
            <div class="card-body">
                <h7 id ="card_title" class="card-title">Factura trimestral del gas</h7>
                <h5 id="prize_expense">33,55€</h5>
            </div>
        </div>
        <div id="group_card" class="card border-light text-white bg-warning mb-3 mx-auto" role="button"
            onClick="location.href='/group/1/1'" tabindex="0">
            <div class="card-header"><strong>CENA</strong></div>
            <div class="card-body">
                <h7 id ="card_title" class="card-title">Cena del viernes 10 de febrero</h7>
                <h5 id="prize_expense">23,30€</h5>
            </div>
        </div>
        <div id="group_card" class="card border-light text-white bg-warning mb-3 mx-auto" role="button"
            onClick="location.href='/group/1/1'" tabindex="0">
            <div class="card-header"><strong>WIFI</strong></div>
            <div class="card-body">
                <h7 id ="card_title" class="card-title">Factura mensual del WIFI</h7>
                <h5 id="prize_expense">5,25€</h5>
            </div>
        </div>
        <!--BUTTONS-->
        <button id ="button_add_expense" type="button" class="btn btn-outline-warning mr-4">ADD EXPENSE</button>

    </main>

    <th:block th:replace="fragments/footer.html :: footer" />

    <script th:src="@{/js/ajax-demo.js}"></script>
</body>

</html>