<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Monzone</title>
</head>

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <div class="container-fluid signupBG text-center">
            <div class="row space1"></div>
            <div class="row space2 justify-content-center">
                <div class="col alreadyArea col-lg-3 shadow-lg rounded-3">
                    <img th:src="@{/img/logo.png}" src="/img/logo.png" alt="logo Monzone" width="40" height="32"
                        class="d-inline-block align-text-top">
                    Already have an account?
                    <button type="button" class="btn btn-light" onclick="location.href='./login'">Sign In</button>
                </div>
                <div class="col signupArea col-lg-4 shadow-lg rounded-3">
                    Create an account
                    <form class="form-signup" method="post" th:action="@{/signup}">
                        <input class="form-control" type="text" id="name" placeholder="name">
                        <input class="form-control" type="text" id="username" placeholder="username">
                        <input type="password" class="form-control" id="inputPassword2" placeholder="password"></input>
                        <input type="password" class="form-control" id="inputPassword2"
                            placeholder="repeat password"></input>
                    </form>
                    <button type="submit" class="btn btn-dark">Sign Up</button>
                </div>
            </div>
            <div class="row space3"></div>
        </div>
    </main>
</body>

</html>