<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="fragments/head :: header" />
  <title>Monzone</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="d-flex flex-column h-100">
  <header th:replace="fragments/nav.html :: nav"></header>

  <div class="primera mx-auto">
    <img class="rounded-circle shadow-4-strong mx-auto" alt="avatar" width="140rem" height="140rem"
      src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" />
  </div>

  <div class="segunda mx-auto">
    <h3>NOMBRE APELLIDOS <button class="btn btn-warning"><i class="fa fa-pencil"></i></button></h3>
  </div>


  <div class="container">
    <!-- ROW Gastos del mes -->
    <div class="row mb-2">
      <div class="col-sm-4 col-md-4"></div>
      <div class="col-sm-4 col-md-4"></div>

      <div class="col-sm-4 col-md-4" style="height: 5rem;">
        <h5 class="text-center">Gastos del mes</h5>
      </div>
    </div>

    <!-- ROW Gastos y mes-->

    <div class="row mb-5">
      <div class="col-sm-4 col-md-2">
        <!-- Contenido de la primera columna -->
        <div class="card border-warning" style="max-width: 18rem; background-color: #353535">
          <div class="card-body">
            <h5 class="card-title">Grupo Piso: 100€</h5>
          </div>
        </div>

      </div>
      <div class="col-sm-4 col-md-2">
        <!-- Contenido de la segunda columna -->
        <div class="card mx-auto" style="max-width: 8rem; background-color: #00d76c">
          <div class="card-body mx-auto">
            <h5 class="card-title">10€</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-2">
        <!-- Contenido de la tercera columna -->
        <div class="card mx-auto" style="max-width: 8rem; background-color: #d70000">
          <div class="card-body mx-auto">
            <h5 class="card-title">10€</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-2">
        <!-- Contenido de la cuarta columna -->

      </div>
      <div class="col-sm-4 col-md-2">
        <!-- Contenido de la quinta columna -->
        <select class="form-select mx-auto">
          <option selected>Selecciona mes</option>
          <option value="1">Enero</option>
          <option value="2">Febrero</option>
          <option value="3">Marzo</option>
          <option value="4">Abril</option>
          <option value="5">Mayo</option>
          <option value="6">Junio</option>
          <option value="7">Julio</option>
          <option value="8">Agosto</option>
          <option value="9">Septiembre</option>
          <option value="10">Octubre</option>
          <option value="11">Noviembre</option>
          <option value="12">Diciembre</option>
        </select>
      </div>
      <div class="col-sm-4 col-md-2">
        <!-- Contenido de la sexta columna -->
        <div class="card bg-warning">
          <div class="card-body mx-auto">
            <h5>130€</h5>
          </div>
        </div>
      </div>
    </div>

    <!-- ROW Gastos-->
    <div class="row mb-5">
      <div class="col-sm-4 col-md-2">
        <!-- Contenido de la primera columna -->

        <div class="card border-warning" style="max-width: 18rem; background-color: #353535">
          <div class="card-body">
            <h5 class="card-title">Casa Rural: 100€</h5>
          </div>
        </div>

      </div>
      <div class="col-sm-4 col-md-2">
        <!-- Contenido de la segunda columna -->

        <div class="card mx-auto" style="max-width: 8rem; background-color: #00d76c">
          <div class="card-body mx-auto">
            <h5 class="card-title">20€</h5>
          </div>
        </div>

      </div>
      <div class="col-sm-4 col-md-2">
        <!-- Contenido de la tercera columna -->

        <div class="card mx-auto" style="max-width: 8rem; background-color: #d70000">
          <div class="card-body mx-auto">
            <h5 class="card-title">10€</h5>
          </div>
        </div>


      </div>
      <div class="col-sm-4 col-md-6">
      </div>
    </div>

    <!-- ROW Categorías-->
    <div class="row mb-2">
      <div class="row">
        <div class="col-sm-4 col-md-8"></div>

        <div class="col-sm-4 col-md-4" style="height: 4rem;">
          <h5 class="text-center">Categorías</h5>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="row">
        <div class="col-sm-4 col-md-8"></div>

        <div class="col-sm-4 col-md-4">
          <ul class="list-group">
            <li class="list-group-item">
              <i class="fa fa-gamepad"></i>
              Videojuegos: 30€
            </li>
            <li class="list-group-item">
              <i class="fa fa-cutlery"></i>
              Restaurantes: 30€
            </li>
            <li class="list-group-item">
              <i class="fa fa-car"></i>
              Transporte: 70€
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>