<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="fragments/head :: header" />
  <title>Monzone</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="d-flex flex-column h-100">
  <header th:replace="fragments/nav.html :: nav"></header>

  <div class="row-col-1 row-col-lg-2">
    <!-- User info -->
    <div class="col">
      <div class="row">
        <h2>Your Profile</h2>
      </div>
      <div class="row">
        <!-- Profile pic -->
        <div class="col">
          
        </div>
        <!-- Username + Displayname -->
        <div class="col">

        </div>
      </div>
    </div>
  </div>

  <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>